:root {
    --primary-color: #ddd;
    --dark-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

a {
    color: #fff;
    text-decoration: none;
}

.navbar {
    margin: 2rem 3rem;
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.navbar-icon {
    margin-left: auto;
}

.navbar-center {
    display: flex;
    gap: 2rem;
    white-space: nowrap;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    gap: 2rem;
}

.current-mission {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../img/background-1.png') no-repeat center center/cover;
}

.current-mission::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    box-shadow: inset 200px 150px 1000px #000, inset -200px 0px 1000px #000;
}

.upcoming-launch {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('../img/background-1.png') no-repeat center center/cover;
}

.upcoming-launch::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.4);
    box-shadow: inset 200px 0px 1000px #000, inset -200px 0px 1000px #000;
}

.text-md {
    font-size: 0.8rem;
}